doctype html
html(lang='en')
  head
    meta(name='viewport',content='width=device-width','initial-scale=1')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible',content='IE=edge,chrome=1')

    title kanban
    
    //link(rel='stylesheet',href='css/wdBuddy.css')
    link(rel='stylesheet',href='css/bootstrap.css')
    link(rel='stylesheet',href='css/kanban.css')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js')

  body
<<<<<<< HEAD
    #title.centered 
      h1 KANBAN
    #wastebucket
    //button#newitem newitem
    i#newitem.fa.fa-plus-square-o(aria-hidden="true") 
      
    .grid
      #idea.container IDEA
      #todo.container TODO
      #deliver.container DELIVER
      #review.container REVIEW
=======
    #title.centered KANBAN
    button.newitem(onclick='newitem()') newitem
      
    .grid
      #idea.col
      #begin.col
      #wip.col
      #finished.col
>>>>>>> 88737f4ad66ae0f8e904723821ee0cc0ca24a8b0
      
    //script(src='js/wdBuddy.js')
    script(src='kanban.js')
script.

